* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Common CSS Start ======================================= */
.section-intro {
  text-align: center;
}

.section-intro h2 {
  font-size: 46px;
  font-weight: 800;
  color: #02918c;
  text-transform: uppercase;
}

.section-intro p {
  font-size: 16px;
  color: #7e8287;
  line-height: 41px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: #cfc91d;
  padding: 14px 42px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #0b1016;
  text-transform: uppercase;
  font-weight: 800;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.btn:hover {
  background: #02918c;
  color: #fff;
  cursor: pointer;
}

.up {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #02918c;
  border: none;
  color: #fff;
  cursor: pointer;
  display: none;
  transition: 0.5s;
  z-index: 9999;
}

.up:hover {
  background: #cfc91d;
}
button:focus,
.up:focus,
input:focus,
.btn:focus,
a:focus {
  outline: none;
}
.navbar-toggler i {
  color: #fff;
}
/* Common CSS End ======================================= */

/* Nav Start ======================================= */
nav {
  background: #02918c;
  z-index: 9999;
}

#menu ul li a {
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 0;
  color: #fff;
  padding: 24px 26px;
}

#menu ul li:hover a {
  color: #cfc91d;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Nav End ======================================= */

/* Banner Start ======================================= */
#banner .container,
#banner .container .row {
  height: 100%;
}

#banner .arrow {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  z-index: 9999;
  font-size: 25px;
  height: 80px;
  width: 50px;
  line-height: 80px;
  background: #02918c;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}

#banner .arrow:hover {
  background: #cfc91d;
}

#banner .arrow-left {
  left: 0;
}

#banner .arrow-right {
  right: 0;
}

#banner .banner-item {
  background-size: cover !important;
  background-position: center !important;
  height: 730px;
  position: relative;
  z-index: 1;
}

#banner .banner-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.banner-content {
  text-align: center;
  color: #fff;
}

.banner-content h4 {
  font-size: 30px;
  font-weight: 400;
}

.banner-content h1 {
  font-size: 68px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 24px;
}

.banner-content p {
  font-size: 18px;
}

.banner-content .image-wrapper {
  margin: 50px 0;
}

.slick-slide img {
  display: inline-block;
}

/* Banner End ======================================= */

/* About Start ======================================= */
#about {
  padding: 75px 0 95px;
}

#about .section-intro img {
  margin: 10px 0 20px;
}

#about .section-intro p span {
  font-size: 23px;
  font-weight: 800;
}

#about .about-content {
  margin-top: 80px;
}

.about-content .col-sm-6 {
  padding: 35px 30px 45px;
  border-right: 2px solid #d9dbdb;
  margin-bottom: 15px;
}
.about-content .col-sm-6:last-child{
  border-right: none;
}
.about-content .about-item i {
  font-size: 28px;
  color: #02918c;
}

.about-content .about-item h3 {
  font-size: 16px;
  font-weight: 800;
  color: #7e8287;
  margin: 18px 0;
}

.about-content .about-item p {
  font-size: 11px;
  line-height: 21px;
  color: #7e8287;
}

/* About End ======================================= */

/* Service Start ======================================= */
#service {
  background: url(../img/services-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  padding: 80px 0;
}

#service .section-intro {
  text-align: left;
}

#service .section-intro img {
  margin: 30px 0 15px;
}

#service .service-content {
  margin-top: 50px;
}

.service-content .service-item {
  padding: 0 50px 30px 0;
}

.service-item img {
  margin-bottom: 10px;
}

.service-item h3 {
  font-size: 16px;
  font-weight: 800;
  color: #7e8287;
  margin: 5px 0 10px;
}

.service-item p {
  font-size: 11px;
  line-height: 21px;
  color: #7e8287;
  text-align: justify;
}

/* Service End ======================================= */

/* Counter Start ======================================= */
#counter {
  padding: 90px 0 50px;
}

#counter .counter-item {
  text-align: center;
  padding: 40px 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 3px #7e82876c;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
#counter .counter-item:hover {
  box-shadow: none;
}
.counter-item i {
  font-size: 30px;
  color: #02918c;
  display: inline-block;
  width: 120px;
  height: 120px;
  line-height: 120px;
  background: #d9dbdb;
  border-radius: 50%;
  margin-bottom: 25px;
}

.counter-item h2 {
  font-size: 42px;
  color: #7e8287;
  margin-bottom: 10px;
  font-weight: 800;
}

.counter-item .counter {
  font-size: 42px;
}

.counter-item h3 {
  font-size: 20px;
  color: #7e8287;
  text-transform: uppercase;
  font-weight: 400;
}

/* Counter End ======================================= */

/* My Work Start ======================================= */
#work {
  padding: 85px 0 0;
}

#work .section-intro {
  margin-bottom: 75px;
}

#work .container-fluid {
  padding: 0;
}

#work .section-intro img {
  margin: 13px 0 17px;
}

#work .work-item img {
  width: 100%;
}

#work .work-item .overlay {
  position: absolute;
  top: 20px;
  right: 30px;
  bottom: 20px;
  left: 30px;
  background: rgba(13, 133, 130, 0.85);
  color: #fff;
  padding: 50px 30px;
  text-align: center;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: center;
}

.work-item .overlay h3 {
  font-size: 27px;
}
.work-item .overlay p {
  font-size: 13px;
  line-height: 21px;
  margin-top: 13px;
}

#work .work-item:hover .overlay {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* My Work End ======================================= */

/* Contact Start ======================================= */
#contact {
  padding: 90px 0 0;
}

#contact .contact-form {
  background: #0b0b0b;
  padding: 10px 0 75px;
  margin-top: 55px;
}

#contact .contact-form .input-element {
  width: 100%;
  font-size: 16px;
  color: #7e8287;
  text-align: center;
  background: none;
  border: none;
  border-bottom: 1px solid #7e8287;
  padding: 15px 0;
  margin-top: 50px;
  font-family: "Open Sans", sans-serif;
}

#contact .contact-form textarea.input-element {
  height: 60px;
  resize: none;
  margin-bottom: 60px;
}
.input-element:focus {
  outline: none;
}
#contact .contact-form .btn {
  display: block;
  padding: 12px 55px;
  border: none;
  color: #0b0b0b;
  margin: auto;
}

#contact .contact-form .btn:hover {
  color: #fff;
}

/* Contact End ======================================= */

/* Footer Start ======================================= */
#footer {
  background: #000;
  padding: 25px;
  text-align: center;
}

#footer p {
  font-size: 12px;
  color: #7e8287;
}

/* Footer End ======================================= */
